<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- CONSOLE -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${dma.app.home}/log/epd-ship.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="3" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="DEBUG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${dma.app.home}/log/debug.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="3" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<logger name="org.apache.commons.httpclient">
		<level value="ERROR" />
	</logger>

	<logger name="dk.frv.ais">
		<level value="DEBUG" />
	</logger>
	
	<logger name="dk.frv.enav">
		<level value="DEBUG" />
	</logger>

	<logger name="dk.navicon.s52">
		<level value="FATAL" />
	</logger>
	
	<logger name="dk.navicon.s57">
		<level value="FATAL" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGFILE" />
		<appender-ref ref="DEBUG" />
	</root>

</log4j:configuration>
  